# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
dist/
build/
changelog-machine.spec
.venv
changelog_machine.egg-info
changelogs
CHANGELOG.md
CHANGELOG.md.bak
scripts/quickTest.sh
